[versions]
# block only products where the newer version has bug (describe shortly)

archetypes.schemaextender = 1.6
#mr.developer = 1.14
#plone.app.blob = 1.0b12
plone.reload = 0.11
#zope.proxy = 3.5.0 
#ZODB3 = 3.8.3	
Products.eXtremeManagement = 2.0.4
Products.PloneHotfix20110720 = 1.2

# zope.component = 3.5.1
	
# archetypes.schemaextender < 1.6: per dipendenza collective.contentleadimage? collective.dancing?
# mr.developer
# plone.app.blob < 1.0b12: non crea le miniature
# plone.reload < 0.11: ...
# zope.proxy
# ZODB3





# aggiunti da massi

Products.AddRemoveWidget = 1.4.5
Products.CacheSetup = 1.2.1
Products.DataGridField = 1.6.2
Products.Poi = 1.2.13
Products.contentmigration = 2.0.3
plone.recipe.distros = 1.5

#Required by:
#Products.CacheSetup 1.2.1
Products.CMFSquidTool = 1.5.1

#Required by:
#Products.CacheSetup 1.2.1
Products.PageCacheManager = 1.2

#Required by:
#Products.CacheSetup 1.2.1
Products.PolicyHTTPCacheManager = 1.2

#Required by:
#Products.eXtremeManagement 2.0.4
collective.autopermission = 1.0b2

#Required by:
#xm.tracker 1.0.5
#egenix-mx-base = 3.2.1
#Modificato il 27-09-12 perche   quello vecchio non si trovava piu su pypi
egenix-mx-base = 3.2.4

#Required by:
#kss.plugin.timer 1.0
kss.base = 0.3

#Required by:
#Products.eXtremeManagement 2.0.4
kss.plugin.cns = 1.1

#Required by:
#xm.tracker 1.0.5
kss.plugin.timer = 1.0

#Required by:
#Products.eXtremeManagement 2.0.4
kss.plugin.yuidnd = 1.0

#Required by:
#Products.eXtremeManagement 2.0.4
pygooglechart = 0.3.0

#Required by:
#Products.eXtremeManagement 2.0.4
xm.booking = 2.1

#Required by:
#Products.eXtremeManagement 2.0.4
xm.charting = 0.4

#Required by:
#Products.eXtremeManagement 2.0.4
xm.portlets = 0.9

#Required by:
#Products.eXtremeManagement 2.0.4
xm.tracker = 1.0.5

#inserito quando spostato il dev su dreamhost
zope.interface = 3.6.4

# Messi da Paolo

Products.SecureMaildropHost = 0.2
Products.MaildropHost = 2.3
xm.globalissues = 1.0
xm.theme = 1.2
